doctype html 
  
html 
  head 
    title 投票系统
    style(type="text/css").
      ul li {
        cursor:pointer
      }
    script(src="/assets/axios.min.js")
    script(src="/assets/lodash.min.js")
  body 
    block content 
    #footer
      p 简单的投票系统 &copy;2021